{% for name, value in hiddens %}
  <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endfor %}
<div class="scrolling-wrapper mb-5">
  <div class="row flex-row flex-nowrap">
    {% for key, item in links %}
      {% if key in selected %}
        <div class="col-auto mb-2">
          {{ item|add_class('btn btn-block btn-primary') }}
        </div>
      {% else %}
        <div class="col-auto mb-2">
          {{ item|add_class('btn btn-block btn-white border') }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

